main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cartMain-container{
    display: flex;
    flex-direction: column;
    max-width: 1100px;
    align-items: flex-start;
    width: 100%;
    padding-top: 30px;
}

.cart {
    display: flex;
    flex-direction: column;
    gap: 20px;

}
.cart h2{
    font-size: 40px;
    font-weight: bold;
}
.cart-items{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.cart-item{
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    padding: 10px;
    border-radius: 10px;
    width: 800px;
}
.cart-item h3{
    font-size: 20px;
}
.quantity-control{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}
.buttonBox{
    border: #b6b6b6 solid 1px;
    padding: 5px;
    border-radius: 10px;
}
.quantity-control button{
    font-size: 20px;
    width: 50px;
    border: #a8a8a8 solid 1px;
    background-color: white;
    border-radius: 10px;
    color: #a8a8a8;
}
.quantity-control button:hover{
    background-color: rgba(159, 159, 159, 0.15);
    transition: background-color 0.5s ease;
}
.deleteItem{
    width: 150px;
    height: 30px;
    border-radius: 10px;
    border: none;
    color: black;
    background-color: rgba(255, 0, 0, 0.71);
    font-size: 15px ;
}
.deleteItem:hover{
    background-color: rgba(255, 0, 0, 0.85);
}
.total-price{
    font-size: 30px;
    border: #a8a8a8 solid 1px;
    padding: 10px;
    border-radius: 10px;
}

.container-noItemsCart{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: bold;
}
.container-noItemsCart img{
    width: 350px;
}
