body, a{
    font-family:  "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: none;
    color: #333333;
    font-size: 18px;
    display: flex;
    flex-direction: column;
}
h1{
    font-size: 50px;
    font-weight: bold;
}
header{
    background: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1)
}
.container{
    height: 80px;
    width: 1100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
}
.navbar-list{
    display: flex;
    gap: 15px;
}
.container a{
    text-decoration: none;
}
.container a:hover{
    color: #007bff;
    transition: all 0.3s ease-in-out;
}
.container button{
    background: none;
    border: none;

    font-size: 18px;
}
.container button:hover{
    color: #007bff;
    transition: all 0.3s ease-in-out;
}

.container img{
    width: 30px;
    display: none;
}
main{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}
.gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 30px;
}
.card{
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.card:hover{
    transform: scale(1.1);
    transition: transform .5s;
}
.card h3{
    font-size: 25px;
}
.card button{
    border: none;
    font-size: 14px;
    background-color: orange;
    border-radius: 5px;
    cursor: pointer;
}
.card button:hover{
    outline: 2px solid #007bff;
}

/*Phone Screen*/

@media (max-width: 768px) {
    .container img{
        display: block;
        cursor: pointer;
    }
    .burger.active{
        transform: rotate(90deg);
        transition: transform 0.3s ease;
    }
    .navbar{
        display: block;
        position: fixed;
        top: 80px;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(255, 255, 255, 0.95);
        transform: translateY(-100%);
        opacity: 0;
        transition: all 0.6s ease-in-out;
        pointer-events: none;
        z-index: 1000;
        visibility: hidden;
    }
    .navbar.active{
        transform: translateY(0);
        opacity: 1;
        pointer-events: auto;
        visibility: visible;
    }
    .navbar-list{
        display: flex;
        flex-direction: column;
        padding: 10px;
        gap: 30px;
        font-size: 40px;
    }
}
